
.tab-periodic{
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  min-width: 768px;
}
.tab-periodic article{
  min-width: 26px;
  min-height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #86A789;
  padding: 4px;
  aspect-ratio: 1;
  cursor: pointer;
  transition: transform .2s ease-in-out;
  outline: 1px solid #000000;
}
.tab-periodic article:hover{
  transform: scale(1.1);
  transition: transform .2s ease-in-out;
}
.tab-periodic .atomic-number{
  align-self: flex-start;
  color: #EBF3E8;
  font-size: min(.5vw, 60px);
  line-height: 1;
  
}
.atomic-symbol{
  font-size: 1.2rem;
  font-weight: 800;
  color: #004225;
}
.atomic-name{
  text-overflow: hidden;
  font-size: .5rem;
  color: #EBF3E8;
}
.tab-periodic .Helium{
  grid-column: 18/19;
}
.tab-periodic .Boron{
  grid-column: 13/14;
}
.tab-periodic .Aluminium{
  grid-column: 13/14;
}
.tab-periodic .Lanthanum{
  grid-column: 4/5;
  grid-row: 9/10;
}
.tab-periodic .Cerium{
  grid-column: 5/6;
  grid-row: 9/10;
}
.tab-periodic .Praseodymium{
  grid-column: 6/7;
  grid-row: 9/10;
}
.tab-periodic .Neodymium{
  grid-column: 7/8;
  grid-row: 9/10;
}
.tab-periodic .Promethium{
  grid-column: 8/9;
  grid-row: 9/10;
}
.tab-periodic .Samarium{
  grid-column: 9/10;
  grid-row: 9/10;
}
.tab-periodic .Europium{
  grid-column: 10/11;
  grid-row: 9/10;
}
.tab-periodic .Gadolinium{
  grid-column: 11/12;
  grid-row: 9/10;
}
.tab-periodic .Terbium{
  grid-column: 12/13;
  grid-row: 9/10;
}
.tab-periodic .Dysprosium{
  grid-column: 13/14;
  grid-row: 9/10;
}
.tab-periodic .Holmium{
  grid-column: 14/15;
  grid-row: 9/10;
}
.tab-periodic .Erbium{
  grid-column: 15/16;
  grid-row: 9/10;
}
.tab-periodic .Thulium{
  grid-column: 16/17;
  grid-row: 9/10;
}
.tab-periodic .Ytterbium{
  grid-column: 17/18;
  grid-row: 9/10;
}
.tab-periodic .Lutetium{
  grid-column: 18/19;
  grid-row: 9/10;
}
.tab-periodic .Hafnium{
  grid-column: 4/5;
}
.tab-periodic .Actinium {
  grid-column: 4/5;
  grid-row: 10/11;
}

.tab-periodic .Thorium {
  grid-column: 5/6;
  grid-row: 10/11;
}

.tab-periodic .Protactinium {
  grid-column: 6/7;
  grid-row: 10/11;
}

.tab-periodic .Uranium {
  grid-column: 7/8;
  grid-row: 10/11;
}

.tab-periodic .Neptunium {
  grid-column: 8/9;
  grid-row: 10/11;
}

.tab-periodic .Plutonium {
  grid-column: 9/10;
    grid-row: 10/11;
}

.tab-periodic .Americium {
  grid-column: 10/11;
    grid-row: 10/11;
}

.tab-periodic .Curium {
  grid-column: 11/12;
    grid-row: 10/11;
}

.tab-periodic .Berkelium {
  grid-column: 12/13;
    grid-row: 10/11;
}

.tab-periodic .Californium {
  grid-column: 13/14;
    grid-row: 10/11;
}

.tab-periodic .Einsteinium {
  grid-column: 14/15;
    grid-row: 10/11;
}

.tab-periodic .Fermium {
  grid-column: 15/16;
    grid-row: 10/11;
}

.tab-periodic .Mendelevium {
  grid-column: 16/17;
    grid-row: 10/11;
}

.tab-periodic .Nobelium {
  grid-column: 17/18;
  grid-row: 10/11;
}

.tab-periodic .Lawrencium {
  grid-column: 18/19;
  grid-row: 10/11;
}
.tab-periodic .Rutherfordium {
  grid-column: 4/5;
}
/* Colores segun su category */
.tab-periodic .diatomic {
  background-color: #00A9FF;
}
.tab-periodic .alkali {
  background-color: #F11A7B;
}
.tab-periodic .alkaline {
  background-color: #F7DB6A;
}
.tab-periodic .transition {
  background-color: #FFA559;
}
.tab-periodic .post-transition {
  background-color: #C08261;
}
.tab-periodic .metalloid {
  background-color: #98E19A;
}
.tab-periodic .polyatomic {
  background-color: #618264;
}
.tab-periodic .noble {
  background-color: #A0E9FF;
}
.tab-periodic .lanthanide {
  background-color: #BEADFA;
}
.tab-periodic .actinide {
  background-color: #9772FB;
}

.tab-periodic article p{
  text-align: center;
}
.tab-periodic .asteric{
  color: #FFF6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: max(2vw,38px);
  grid-column: 3/4;
  grid-row: 6/7;
  margin: 0;
  max-height: 24px;
  transform: translateY(50%);
  
}
.tab-periodic .asteric2{
  grid-row: 7/8;
}
.tab-periodic .asteric-info{
  color: #FFF6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  grid-column: 2/4;
  grid-row: 9/10;
  margin: 0;
}
.tab-periodic .asteric-info2 {
  grid-row: 10/11;
}
.tab-periodic .principal-element{
  color: #004225;
  font-weight: 900;
  border-radius: 4px;
  text-align: center;
  grid-column: 4/12;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}
.tab-periodic .principal-element .info-element{
  font-size: min(1vw, 12px);
  color: #EBF3E8;
  position: absolute;
  font-weight: 400;
  z-index: 9;
}
.tab-periodic .principal-element .atomic-masa_name{
  top: 10%;
}
.tab-periodic .principal-element .atomic-masa_name .atomic-masa_arrow,
.tab-periodic .principal-element .atomic-energy_el .atomic-masa_arrow,
.tab-periodic .principal-element .atomic-symbol_el .atomic-masa_arrow,
.tab-periodic .principal-element .atomic-name_el .atomic-masa_arrow,
.tab-periodic .principal-element .atomic-config_el .atomic-masa_arrow,
.tab-periodic .principal-element .atomic-numero_el .atomic-masa_arrow,
.tab-periodic .principal-element .atomic-electronic_el .atomic-masa_arrow
{
  background-color: #EBF3E8;
  display: inline-flex;
  height: 1px;
  z-index: 9;
  transform: translateY(-200%);
}
.tab-periodic .principal-element .atomic-masa_name .atomic-masa_arrow{
  width: min(98px, 8vw);
}
.tab-periodic .principal-element .atomic-energy_el .atomic-masa_arrow{
  width: min(42px, 3vw);
}
.tab-periodic .principal-element .atomic-symbol_el .atomic-masa_arrow{
  width: min(82px, 6.5vw);
}
.tab-periodic .principal-element .atomic-name_el .atomic-masa_arrow{
  width: min(132px, 10.8vw);
}
.tab-periodic .principal-element .atomic-config_el .atomic-masa_arrow{
  width: min(74px, 8vw);
}
.tab-periodic .principal-element .atomic-numero_el .atomic-masa_arrow{
  width: min(82px, 8vw);
}
.tab-periodic .principal-element .atomic-electronic_el .atomic-masa_arrow{
  width: min(155px, 15vw);
}
.tab-periodic .principal-element .atomic-energy_el{
  top: 20%;
}
.tab-periodic .principal-element .atomic-symbol_el{
  bottom: 40%;
}
.tab-periodic .principal-element .atomic-name_el{
  bottom: 16%;
}
.tab-periodic .principal-element .atomic-config_el{
  bottom: 7%;
}
.tab-periodic .principal-element .atomic-numero_el{
  right: 0;
  top: 12%;
}
.tab-periodic .principal-element .atomic-electronic_el{
  right: 0;
  top: 21%;
}
.tab-periodic .principal-element .card-element {
  aspect-ratio: 1;
  grid-column: 2/3;
  grid-row: 1/3;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 4px;
  justify-content: space-between;
  transform: translateY(6%);
}
.tab-periodic .principal-element .card-element .seccion-one{
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.tab-periodic .principal-element .card-element .seccion-one .atomic_masa{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  font-size: min(1vw, 14px);
  font-weight: 600;
  line-height: 1;

}
.tab-periodic .principal-element .card-element .seccion-one .atomic_masa .atomic-masa_info{
  padding: 4px;
  font-size: min(1.5vw, 16px);
}
.tab-periodic .principal-element .card-element .seccion-one .atomic_masa .electon_energy{
  padding-left: 4px;
}
.tab-periodic .principal-element .card-element .seccion-one .atomic_number{
  font-weight: 600;
  align-self: self-start;
  font-size: 1.8rem;
  line-height: 1;
  font-size: min(3vw, 36px);

}
.tab-periodic .principal-element .card-element .seccion-one .electon_energy{
  display: flex;
  gap: 8px;
}
.tab-periodic .principal-element .card-element .seccion-two {
  display: flex;
  justify-content: space-between;
}
.tab-periodic .principal-element .card-element .seccion-two .principal-char {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.tab-periodic .principal-element .card-element .seccion-two .principal-char .principal_symbol{
  font-size: 3rem;
  line-height: 1;
  font-size: min(6vw, 84px);
}
.tab-periodic .principal-element .card-element .seccion-two .principal-char .principal_name {
  line-height: 1;
  font-size: min(1.6vw, 20px);
}
.tab-periodic .principal-element .card-element .seccion-two .principal-char .principal_electron {
  font-weight: 500;
  font-size: 8px;
  font-size: min(1vw, 8px);
}